<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div class="main">

  <h1>Template Screen</h1>
  <br>



  <form #myForm="ngForm" (ngSubmit)="downloadExcel(myForm)">

  <div class="text-boxes">

   
    <div class="field">
     
      <input type="text" id="field1" name="field1" ngModel required />
      <label for="field1">: Field 1</label>
    </div>
    
    <div class="field">
      <input type="text" id="field2" name="field2" ngModel required />
      <label for="field1">: Field 2</label>
    </div>
    <div class="field">
     
      <input type="text" id="field3" name="field3" ngModel required />
      <label for="field1">: Field 2</label>
    </div>
    <div class="field">

      <input type="text" id="field4" name="field4" ngModel required />
      <label for="field1">: Field 3</label>
    </div>
  </div>
  <div class="download">
    <button type="submit" [disabled]="myForm.invalid">Download</button>
  </div>
</form>

<br>
<br>
  <div class="upload">
    <input type="file" (change)="readExcelFile($event)" />
  </div>
   
  <br>
    <table class="table" *ngIf="users.length>0" >
      <thead>
          <tr>
              <th>First_Name</th>
              <th>Last_Name</th>
              <th>Date_of_Birth</th>
              <th>City</th>
             
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let u of users">
              <td>{{u.First_Name}}</td>
              <td>{{u.Last_Name}}</td>
              <td>{{u.Date_of_Birth}}</td>
              <td>{{u.City}}</td>
             
          </tr>
      </tbody>
    </table>
  </div>
</body>
  

</html>