.main{
    padding: 0;
    margin:0;
    background-color: aqua;
    height:610px;
}

h1{
    text-align: center;
}
.download,.upload{
    text-align: center;
}
  
.download button{
    background-color: yellow;
    padding: 20px 100px;
    border: 1px solid black;
    
}

.upload input{
    background-color: yellow;
    padding: 20px 30px;
    border: 1px solid black;
}
.download button:hover, .upload input[type="file"]:hover {
    background-color: #87d995;
  }


table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #292727;
  }

  table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #292727;
  }

  table th {
    background-color: #3f49d9b4;
    color: white;
  }

  table tr:nth-child(even) {
    background-color: #f5f0f0f3;
  }
  .input {
    margin-top: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
  }
  
  .field {
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-align: center; /* Center-align text within the field */
    border: 1px solid #363131; /* Add a border around the field */
    padding: 10px; /* Add padding inside the field */
    border-radius: 4px; /* Add rounded corners */
    width: 300px; /* Set a fixed width for the field */
    margin-left: 12cm;
  }
  
  label {
    font-weight: bold;
    width: 100px; /* Adjust as needed for label width */
  }
  
  input[type="text"] {
    padding: 8px;
    border: none; /* Remove the input's border */
    outline: none; /* Remove the input's focus outline */
    width: 100%; /* Take up the full width */
  }
  
  /* Optional: Add styles for hover or focus effects */
  .field:hover,
  .field:focus-within {
    border-color: #11345a;
  }
  